<!-- include head -->
<%- include('head'); %>
    <!-- include header -->
    <%- include('header'); %>
        <div class="page-wrapper text-white chiller-theme">
            <%- include('sidebar'); %>
                <!-- sidebar-wrapper  -->
                <main class="page-content text-white">
                    <div class="admin">
                        <div class="page-data">
                            <div class="container-fluid tbl">
                                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                                    <h3 class="text-white"> Users</h3>
                                </div>
                                <br>
                                <table id="example" class="table table-dark table-hover" cellspacing="0"
                                    width="100%">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>JoinDate</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% users.forEach(function(user){ %>
                                            <tr>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <img src="/images/users/<%=user.photo%>"
                                                            style="width:50px;height:50px" class="rounded-circle">
                                                        </div>
                                                        <div class="col-sm-9">
                                                            <%=user.firstName + ' ' + user.lastName %>
                                                        </div>
                                                    </div>

                                                </td>
                                                <td>
                                                    <%=user.email%>
                                                </td>
                                                <td>
                                                    <%=user.role%>
                                                </td>
                                                <td>
                                                    <%=new Date(user.createdAt).toLocaleDateString()%>
                                                </td>

                                            </tr>
                                            <% }); %>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <!-- page-content" -->
        </div>
        <%- include('footer'); %>