<%- include('head'); %>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>(:</h1>
            </div>
            <h2 class="text-white">
                <%= StatusCode%> - <%=title%>
            </h2>
            <p class="text-white">
                <%=message%>
            </p>
            <a href="/">home page</a>
        </div>
    </div>
    <%- include('footer'); %>