
<button class="accordion bg-dark text-white shadow mb-2 mt-2">Recordings</button>
<div class="panel bg-dark text-white shadow" style="height:200px;overflow-y:scroll;">
    <ul class="list-group p-2">
        <%if(currentCourse.meetings && currentCourse.meetings.length > 0){%>
            <%currentCourse.meetings.forEach(function(meeting){%>
                <%meeting.recordings.forEach(function(el){%>
                    <li class="list-group-item user-item text-left bg-dark text-white">
                        <h6>
                            <%=el%>
                        </h6>
                        <a href="/files/recordings/<%=el%>" class="far fa-download"
                            style="color: aliceblue; padding:2px; float:right" download>
                        </a>
                    </li>
                    <%})})%>
        <%}else{%>
            <h6>
                No Meetings Yet
            </h6>
         <%}%>
    </ul>
</div>

<button class="accordion bg-dark text-white shadow mb-2 mt-2">WhiteBoard Images</button>
<div class="panel bg-dark text-white shadow" style="height:200px;overflow-y:scroll;">
    <ul class="list-group p-2">
        <% if(currentCourse.meetings && currentCourse.meetings.length > 0){%>
            <% currentCourse.meetings.forEach(function(meeting){%>
                <% meeting.whiteBoardSnaps.forEach(function(el){%>
                    <li class="list-group-item user-item text-left bg-dark text-white">
                        <h6>
                            <%=el%>
                        </h6>
                        <a href="/files/whiteBoardSnaps/<%=el%>" class="far fa-download"
                            style="color: aliceblue; padding:2px; float:right" download>
                        </a>
                    </li>
                    <%})%>
                <%})%>

        <%}else{%>    
                <h6>
                    No Meetings Yet
                </h6>
        <%}%>
    </ul>
</div>


<button class="accordion bg-dark text-white shadow mb-2 mt-2">Course Material</button>
<div class="panel bg-dark text-white shadow" style="height:200px;overflow-y:scroll;">
    <ul class="list-group p-2">
        <% if(currentCourse.courseFiles && currentCourse.courseFiles.length > 0){%>
            <% currentCourse.courseFiles.forEach(function(coursefile){%>
                <% coursefile.files.forEach(function(el){%>
                    <li class="list-group-item user-item text-left bg-dark text-white">
                        <h6>
                            <%=el.split('_')[2]%>
                        </h6>
                        <a href="/files/courseMaterial/<%=el%>" class="far fa-download"
                            style="color: aliceblue; padding:2px; float:right" download>
                        </a>
                    </li>
                    <%})%>
                <%})%>

        <%}else{%>    
                <h6>
                    No Meetings Yet
                </h6>
        <%}%>
    </ul>
</div>
